In [1]:
# Basic Libraries
import numpy as np
import pandas as pd

In [2]:
ts = pd.read_csv('usa_county_wise.csv')
ts.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

In [4]:
ts["Date"] = pd.to_datetime(ts["Date"])

In [5]:
ts.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",2020-01-22,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",2020-01-22,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",2020-01-22,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",2020-01-22,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",2020-01-22,0,0

In [12]:
ts.loc[ts["Confirmed"]==1]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
3051,84053033,US,USA,840,53033.0,King,Washington,US,47.491379,-121.834613,"King, Washington, US",2020-01-22,1,0
6391,84053033,US,USA,840,53033.0,King,Washington,US,47.491379,-121.834613,"King, Washington, US",2020-01-23,1,0
7372,84017031,US,USA,840,17031.0,Cook,Illinois,US,41.841448,-87.816588,"Cook, Illinois, US",2020-01-24,1,0
9731,84053033,US,USA,840,53033.0,King,Washington,US,47.491379,-121.834613,"King, Washington, US",2020-01-24,1,0
10712,84017031,US,USA,840,17031.0,Cook,Illinois,US,41.841448,-87.816588,"Cook, Illinois, US",2020-01-25,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627060,84046075,US,USA,840,46075.0,Jones,South Dakota,US,43.962786,-100.694001,"Jones, South Dakota, US",2020-07-27,1,0
627077,84046107,US,USA,840,46107.0,Potter,South Dakota,US,45.065831,-99.954985,"Potter, South Dakota, US",2020-07-27,1,0
627082,84046119,US,USA,840,46119.0,Sully,South Dakota,US,44.715718,-100.127809,"Sully, South Dakota, US",2020-07-27,1,0
627400,84048431,US,USA,840,48431.0,Sterling,Texas,US,31.827819,-101.050075,"Sterling, Texas, US",2020-07-27,1,0
627876,84090023,US,USA,840,90023.0,Unassigned,Maine,US,0.000000,0.000000,"Unassigned, Maine, US",2020-07-27,1,0