In [2]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [4]:
usa_county = pd.read_csv('usa_county_27july.csv')
usa_county.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",7/27/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",7/27/20,349,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",7/27/20,40,2
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",7/27/20,77,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",7/27/20,92,0

In [5]:
usa_county.describe()

,UID,code3,FIPS,Lat,Long_,Confirmed,Deaths
count,3.340000e+03,3340.000000,3330.000000,3340.000000,3340.000000,3340.000000,3340.000000
mean,8.342958e+07,834.491617,33061.684685,36.707212,-88.601474,1284.508683,44.314671
std,4.315345e+06,36.498055,18638.940791,9.062922,21.718982,6844.463318,448.443711
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000,0.000000
25%,8.401811e+07,840.000000,19079.500000,33.895587,-97.790204,39.000000,0.000000
50%,8.402921e+07,840.000000,31014.000000,38.002344,-89.486710,151.000000,2.000000
75%,8.404612e+07,840.000000,47130.500000,41.573069,-82.311265,569.000000,12.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,224051.000000,23500.000000